In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head()

,itemid,title,Category,image_path
0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg
1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg
2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg
3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg
4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg

In [4]:
test_data=pd.read_csv('test.csv')

In [5]:
title=data['title'].tolist()
category=data['Category'].tolist()
test_set=test_data['title'].tolist()

In [7]:
all_title=[]
for i in title:
    all_title.append(i)
for i in test_set:
    all_title.append(i)

#### vectorized all word in test set and train set title

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector=TfidfVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None)
vec_all_title=vector.fit_transform(all_title)

In [11]:
vec_all_title

<839017x90888 sparse matrix of type '<class 'numpy.float64'>'
	with 7353306 stored elements in Compressed Sparse Row format>

In [12]:
# split the vectorized title into train set and test set again
train_title=vec_all_title[0:len(category)]
tests_title=vec_all_title[len(category):]

In [13]:
# split train set into train set and cross validation set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_title, category, test_size=0.25, random_state=40)

In [14]:
# Create classification model using logistic regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
parameters = {'solver':('newton-cg', 'lbfgs', 'sag')}
logs=LogisticRegression(random_state=20, multi_class='multinomial')
log_reg=GridSearchCV(logs, parameters, cv=5)
log_reg.fit(X_train, y_train)

c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=None, penalty='l2', random_state=20, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'solver': ('newton-cg', 'lbfgs', 'sag')},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [15]:
y_pred=log_reg.predict(X_test)
from sklearn.metrics import accuracy_score
print ('testing acc is %f' %accuracy_score(y_pred, y_test))

testing acc is 0.717655

In [16]:
pred=log_reg.predict(tests_title)

In [18]:
subm=pd.read_csv('data_info_val_sample_submission.csv')

In [20]:
subm['Category']=pred
subm.to_csv('Submission_logistic_regression.csv', index=False)

In [21]:
subm

            itemid  Category
0        370855998         5
1        637234604         5
2        690282890         5
3        930913462         5
4       1039280071         5
5       1327710392         3
6       1328802799         4
7       1330468145         5
8       1677309730         5
9       1683142205         5
10      1704308849         5
11      1736407742         2
12      1747613934         3
13      1793784525         4
14       300165176         5
15       318893351         5
16       470655865         3
17       580992667         9
18       661957090         5
19       728370998         3
20      1260578917         3
21      1399470755         3
22      1409474454         4
23      1555896544         5
24      1631417975         3
25      1679201529         5
26      1728769387         3
27      1734623672         5
28      1760895527         4
29      1830918439         5
...            ...       ...
172372  1216935158        41
172373   311199291        41
172374  1694824763        38
172375  1034284267        35
172376  1059390085        35
172377  1839788366        31
172378   704126195        44
172379  1210020180        35
172380  1568003530        43
172381  1186786053        48
172382  1822896387        43
172383   919038573        31
172384  1839836526        31
172385  1397082442        32
172386  1740028202        34
172387   349452481        43
172388  1098672042        34
172389  1761239629        43
172390  1839767194        31
172391   976294675        42
172392  1388680945        35
172393   966489015        41
172394  1013677956        42
172395  1038729298        42
172396  1062060975        35
172397  1781957365        38
172398  1839851276        31
172399   955369303        35
172400  1638035772        33
172401  1498091427        34

[172402 rows x 2 columns]